*{
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 0;
}

.contentWrapper{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

input{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;

    font-size: 18px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    border: 1px solid rgb(212, 212, 212);
}

form{
    width: 100%; 
} 

.gifHistory{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.historyItem{
    background-color: rgb(210, 240, 240);
    display: block;
    padding: 5px 10px;
    margin:8px;

    border-radius: 10%;
    border: none;
}

.historyItem:hover{
    background-color: rgb(201, 231, 231);
    cursor: pointer;
}

.historyItem:active {
    background-color: rgb(158, 199, 199);
}

.GifGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.GridCatTitle{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card{

    width: 150px;
    height: auto;
    background-color: #f7f7f7;
    align-content: center;
    border: 1px solid #bebebe;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;

    font-size: 13px;
    text-align: center;
}

.card:hover{
    background-color: #bebebe;
}

.card > img{
    height: 150px;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(238, 238, 238);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

